{% extends 'base.njk' %}
{% import 'includes/numberplatebutton.njk' as numberPlateButton %}
{% import 'includes/howdoesitwork.njk' as howdoesitwork %}
{% import 'includes/watgebeurderalinwest.njk' as watgebeurderalinwest %}

{% set contentClass = 'index' %}

{% block content %}
	<div id="banner">
		<div id="homebanner">
			<img id="homebanner-img" src="img/centrumbegroot/home-banner.svg"/>
			{% if (config.ideas.addNewIdeas == 'closed') %}
				{% if (config.ideas.voteForIdeas == 'closed') %}
					<div id="homebanner-title">
						<h2>Centrum Begroot!</h2>
						<h3>Hoe zou jij € 200.000 besteden in stadsdeel Centrum?</h3>
					</div>
					<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
					<div id="homebanner-text">
						Er zijn ...plannen ingediend.<br/>
						Op … wordt bekend gemaakt welke plannen haalbaar zijn en doorgaan naar de volgende ronde.
						<br/>
					</div>
					<div id="homebanner-buttons">
						<a href="/inspiratie" class="bekijk-de-themas">
							Inspiratie
						</a>
						<a href="/plannen" class="stuur-plan-in" style="width: 160px;">
							Bekijk de plannen
						</a>
					</div>
				{% else %}
					<div id="homebanner-title">
						<h2>Centrum Begroot!</h2>
						<h3>Hoe zou jij € 200.000 besteden in stadsdeel Centrum?</h3>
					</div>
					<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
					<div id="homebanner-text">
						Wat vind jij een goed plan?<br/>
						Stem op het plan wat jij het best vindt en bepaal  welke plannen doorgaan naar de volgende ronde!
						<br/>
					</div>
					<div id="homebanner-buttons">
						<a href="/inspiratie" class="bekijk-de-themas">
							Inspiratie
						</a>
						<a href="/plannen" class="stuur-plan-in" style="width: 160px;">
							Bekijk de plannen
						</a>
					</div>
				{% endif %}
			{% else %}
				<div id="homebanner-title">
					<h2>Centrum Begroot!</h2>
					<h3>Hoe zou jij € 200.000 besteden in stadsdeel Centrum?</h3>
				</div>
				<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
				<div id="homebanner-text">
					Stuur je plan in voor een leefbare binnenstad of voor het versterken van de verbinding tussen buurtgenoten, en bepaal waar het geld naar toe gaat.
					<br/>
				</div>
				<div id="homebanner-buttons">
					<a href="/inspiratie" class="bekijk-de-themas">
						Inspiratie
					</a>
					<a href="/plan/nieuw" class="stuur-plan-in">
						Stuur je plan in
					</a>
				</div>
			{% endif %}
		</div>
		<div id="controls">
			{{numberPlateButton.numberPlateButton('no-of-locations', 'plannen', runningIdeas.length, '/plannen')}}
			{#
			<a href="https://www.amsterdam.nl/centrumbegroot" class="page-button page-button-grey" target="_blank">
			Lees meer op amsterdam.nl
			</a>
			#}
		</div>
	</div>
{% endblock %}

{% block howDoesItWork %}
	{{howdoesitwork.howblock('open')}}
{% endblock %}

{% block content2 %}

	<div class="primary">

		<div class="text" name="info" id="info">

			<h3>Achtergrondinformatie</h3>
			<p>
				{% if (config.ideas.addNewIdeas == 'closed') %}
					{% if (config.ideas.voteForIdeas == 'closed') %}
						<strong>Waarom Centrum Begroot?</strong><br/>
						Om bewoners meer zeggenschap te geven en omdat bewoners vaak zelf de beste ideeën hebben voor hun buurt, stelt het bestuur van stadsdeel Centrum € 200.000,- beschikbaar. Stadsdeel Centrum is een druk stadsdeel. Bewoners, ondernemers en organisaties kunnen plannen indienen die bijdragen aan het verbeteren van de leefbaarheid in de buurt of plannen die de verbinding tussen bewoners onderling versterken.
						<br/>
						In de maanden april en mei hebben bewoners, ondernemers en organisaties samen ...plannen ingediend. Op deze plannen is … gestemd. Daarmee hebben ...plannen de drempel van 50 likes gehaald. Deze plannen zijn door de volgende ronde. Op dit moment onderzoekt het stadsdeel of de plannen haalbaar zijn.
					{% else %}
						<strong>Waarom Centrum Begroot?</strong><br/>
						Om bewoners meer zeggenschap te geven en omdat bewoners vaak zelf de beste ideeën hebben voor hun buurt, stelt het bestuur van stadsdeel Centrum € 200.000,- beschikbaar. Stadsdeel Centrum is een druk stadsdeel. Bewoners, ondernemers en organisaties kunnen plannen indienen die bijdragen aan het verbeteren van de leefbaarheid in de buurt of plannen die de verbinding tussen bewoners onderling versterken.<br/>
					{% endif %}
				{% else %}
					<strong>Waarom Centrum Begroot?</strong><br/>
					Om bewoners meer zeggenschap te geven en omdat bewoners vaak zelf de beste ideeën hebben voor hun buurt, stelt het bestuur van stadsdeel Centrum € 200.000,- beschikbaar. Stadsdeel Centrum is een druk stadsdeel. Bewoners, ondernemers en organisaties kunnen plannen indienen die bijdragen aan het verbeteren van de leefbaarheid in de buurt of plannen die de verbinding tussen bewoners onderling versterken.
				{% endif %}
			</p>

			<h3>Spelregels</h3>
			<ul class="checkmark-list">
				<li>Je plan draagt bij aan het verbeteren van je buurt of het versterken van de verbinding tussen buurtgenoten.</li>
				<li>De kosten voor je plan kunnen variëren van heel weinig tot maximaal € 200.000. We zijn op zoek naar grote en kleine plannen.</li>
				<li>Je plan is voor stadsdeel Centrum of voor een buurt of specifieke locatie in Centrum, en is bedoeld voor bewoners uit Centrum.</li>
				<li>Je plan kan binnen een redelijk korte termijn worden uitgevoerd (binnen één jaar).</li>
				<li>Iedereen kan een voorstel indienen: bewoners, ondernemers en maatschappelijke instellingen, zowel uit stadsdeel Centrum of daarbuiten.</li>
				<li>Bewoners of ondernemers kunnen zelf een plan uitvoeren. Je kunt ook een plan insturen dat door de gemeente of een organisatie wordt uitgevoerd.</li>
				<li>Een plan moet minimaal 50 likes halen om door te gaan naar de volgende ronde en om in aanmerking te komen voor een eerste haalbaarheidstoets.</li>
				<li>Het stadsdeel toetst de plannen op haalbaarheid. Dit kan consequenties hebben voor je plan. In overleg met jou past het stadsdeel eventueel het plan aan.</li>
				<li>Uit de haalbare plannen selecteert de stadsdeelcommissie de plannen die doorgaan naar de stemronde.</li>
				<li>In de stemronde kiezen bewoners uit Centrum hun favoriete plannen door hun winkelwagen te vullen met plannen tot maximaal € 200.000,-</li>
				<li>Heb je nog vragen? Bekijk eerst of je het antwoord kunt vinden bij de <a href="/veelgestelde-vragen">veelgestelde vragen</a>. Als je geen antwoord hebt kunnen vinden op je vraag, mail deze dan naar <a href="mailto: centrumbegroot@amsterdam.nl">centrumbegroot@amsterdam.nl</a>.</li>
			</ul>

			{% if (config.ideas.addNewIdeas != 'closed') %}
				<ul class="arrowed-link">
					<li><a href="/plan/nieuw">Bekijk hoe het stadsdeel de plannen toetst</a></li>
				</ul>
				<br/>
				<strong>Hulp nodig bij het insturen van je plan?</strong><br/>
				Dock organiseert computerinloop om bewoners te helpen bij het gebruik van computers of invullen van formulieren. Dat doen ze elke dinsdagmiddag in het Claverhuis en elke donderdagochtend in de Witte Boei. Dock helpt bewoners graag met het insturen van plannen op Centrum Begroot!<br/>
				<br/>
				<strong>Pluspunt Claverhuis</strong><br/>
				Elandsgracht 70<br/>
				1016 TX Amsterdam<br/>
				Dinsdag: 14.00 – 16.00 uur<br/>
				16 april, 23 april, 30 april en 7 mei<br/>
				<br/>
				<strong>Pluspunt Witte Boei</strong><br/>
				Kleine Wittenburgerstraat 201<br/>
				1018 LT Amsterdam<br/>
				Donderdag 09:00 - 12:00 uur<br/>
				11 april, 18 april, 25 april en 2 mei<br/>
			{% endif %}


			<!--
					 <div>
					 <a href="/plan/nieuw" class="stuur-plan-in">
					 Stuur je plan in
					 </a><a href="??" class="page-button page-button-grey" target="_blank">
					 Lees meer op amsterdam.nl
					 </a>
					 </div>
			-->

		</div>
	</div>

	<div class="secondary">

		<div id="agenda">
			<h3>Tijdlijn</h3>

			<div class="agenda">

				<div class="box-grey agenda-period">
					<div>
						<h3>10 april t/m 15 mei 2019</h3>
						Plannen insturen
					</div>
				</div>

				<div class="box-grey agenda-period">
					<div>
						<h3>10 april t/m 22 mei 2019</h3>
						Campagne voeren voor je plan om 50 likes te halen
					</div>
				</div>

				<div class="box-grey agenda-period">
					<div>
						<h3>17 april t/m 31 mei 2019</h3>
						Haalbaarheidstoets ingestuurde plannen door gemeente
					</div>
				</div>

				<div class="box-grey agenda-day">
					<div>
						<h3>9 juli 2019</h3>
						Stadsdeelcommissie selecteert plannen voor de stemronde tijdens openbare vergadering
					</div>
				</div>

				<div class="box-grey agenda-period">
					<div>
						<h3>9 september t/m 6 oktober 2019</h3>
						Centrum Begroot: bewoners verdelen € 200.000 over de geselecteerde plannen
					</div>
				</div>

				<div class="box-grey agenda-day">
					<div>
						<h3>15 oktober 2019</h3>
						Winnende plannen worden bekend gemaakt
					</div>
				</div>

			</div>


		</div>
	</div>
{% endblock %}

{#
{% block page %}
{{watgebeurderalinwest.watgebeurderalinwest()}}
{% endblock %}
#}

{% block content3 %}
	<ul class="share">
		<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Facebook</a></li>
		<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{url}}">Twitter</a></li>
		<li><a class="email"    target="_blank" href="mailto:?subject=West Begroot">Email</a></li>
	</ul>
{% endblock %}
