{% extends 'ideas.njk' %}
{% set pageTitle = 'Jouw plan insturen' if not idea.id else 'Plan bewerken' %}
{% set contentClass = 'newIdea' %}
{% import 'includes/howdoesitwork.njk' as howdoesitwork %}
{% import 'includes/openstad-map.njk' as openStadMap %}

{% set summaryMaxLength = config.ideas.summaryMaxLength or 140 %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/lib/trix/dist/trix.css">
{% endblock %}

{% block content %}

	{% if not user.isLoggedIn() %}
		<a href="/account/register?ref=/idea/nieuw" class="meldjeaanknop">Meld je aan om een plan in te sturen</a>
	{% else %}
		<h1>{{pageTitle}}</h1>
	{% endif %}

	{% if showHelp %}
	{% endif %}

	{% if showForm %}
		<div class="primary" id="formulier-block">
			<form id="posterImageUpload" action="/image"
	    {% if idea.posterImage %}
	    style="background-image: url('/image/{{idea.posterImage.key}}');"
	    {% endif %}
			>
				<div class="progress"><div class="bar"></div></div>
				<button type="button">Verwijder afbeelding<!-- Also set in JS --></button>
			</form>

			<form method="post" id="js-form">
				<div id="titleAndSummary">
					<h4>Naam</h4>
					<p>{{user.fullName}} <em>(je naam is zichtbaar bij je plan - je emailadres wordt nooit gepubliceerd)</em></p>
					
					<h2>Titel plan</h2>
					<div class="form-info">Geef je voorstel een duidelijke naam, zodat anderen jouw inzending makkelijk kunnen vinden en direct snappen waar het over gaat.</div>
					<input type="text" name="title" value="{{idea.title}}"><br>

					<input type="hidden" id="extraData" name="extraData" value=""><br>
					
					<h2>Gebied</h2>
					<div class="form-info">Selecteer het gebied waarop jouw plan betrekking heeft. Gaat het niet over een specifiek gebied? Kies dan voor Centrum Algemeen.</div>
					<select id="gebied" class="default-select" value="{% if idea.extraData %}{{idea.extraData.gebied}}{% endif %}">
						<option value="">Kies gebied</option>
						<option value="Centrum Algemeen" {% if (idea.extraData) and (idea.extraData.gebied == "Centrum Algemeen") %}selected{% endif %}>Centrum Algemeen</option>
						<option value="Burgwallen Nieuwe Zijde" {% if (idea.extraData) and (idea.extraData.gebied == "Burgwallen Nieuwe Zijde") %}selected{% endif %}>Burgwallen Nieuwe Zijde</option>
						<option value="Burgwallen Oude Zijde" {% if (idea.extraData) and (idea.extraData.gebied == "Burgwallen Oude Zijde") %}selected{% endif %}>Burgwallen Oude Zijde</option>
						<option value="Grachtengordel West" {% if (idea.extraData) and (idea.extraData.gebied == "Grachtengordel West") %}selected{% endif %}>Grachtengordel West</option>
						<option value="Grachtengordel Zuid" {% if (idea.extraData) and (idea.extraData.gebied == "Grachtengordel Zuid") %}selected{% endif %}>Grachtengordel Zuid</option>
						<option value="Haarlemmerbuurt" {% if (idea.extraData) and (idea.extraData.gebied == "Haarlemmerbuurt") %}selected{% endif %}>Haarlemmerbuurt</option>
						<option value="Jordaan" {% if (idea.extraData) and (idea.extraData.gebied == "Jordaan") %}selected{% endif %}>Jordaan</option>
						<option value="Nieuwmarkt/Lastage" {% if (idea.extraData) and (idea.extraData.gebied == "Nieuwmarkt/Lastage") %}selected{% endif %}>Nieuwmarkt/Lastage</option>
						<option value="Oostelijke Eilanden/Kadijken" {% if (idea.extraData) and (idea.extraData.gebied == "Oostelijke Eilanden/Kadijken") %}selected{% endif %}>Oostelijke Eilanden/Kadijken</option>
						<option value="Weesperbuurt/Plantage" {% if (idea.extraData) and (idea.extraData.gebied == "Weesperbuurt/Plantage") %}selected{% endif %}>Weesperbuurt/Plantage</option>
						<option value="Weteringschans" {% if (idea.extraData) and (idea.extraData.gebied == "Weteringschans") %}selected{% endif %}>Weteringschans</option>
					</select>
					<br>
					
					<h2>Samenvatting</h2>
					<div class="form-info">Geef hier eerst een korte samenvatting van je plan. In de volgende stap kun je je voorstel uitgebreider uitleggen.</div>
					<textarea name="summary">{{idea.summary}}</textarea>
					<div id="charsLeft">Je hebt nog <span>{{summaryMaxLength}}</span> tekens over.</div>
				</div>
				
				<div id="description">
					<h2>Beschrijving</h2>
					<div class="form-info">
						Gebruik de ruimte hieronder om je voorstel verder uit te leggen.
						<ul>
							<li>Wat is het verhaal achter jouw plan?</li>
							<li>Wat wil je ermee bereiken?</li>
							<li>Voor wie is je plan bedoeld?</li>
							<li>Wie zou dit plan kunnen uitvoeren? Jijzelf, een organisatie of de gemeente?</li>
							<li>Draag argumenten aan om mensen uit Centrum te overtuigen op jouw plan te stemmen. Je plan heeft minimaal 50 likes nodig om door te gaan naar de volgende fase.</li>
						</ul>
					</div>
					{% if useModernEditor %}
						<input type="hidden" id="js-description" name="description" value="{{idea.description}}">
						
						<trix-toolbar id="trixToolbar">
							<div class="button_row">
								<span class="button_group text_tools">
									<button type="button" class="icon heading-1" data-trix-attribute="heading1" title="Titel">Heading</button>
									<button type="button" class="icon bold" data-trix-attribute="bold" data-trix-key="b" title="Vetgedrukt">Bold</button>
									<button type="button" class="icon italic" data-trix-attribute="italic" data-trix-key="i" title="Cursief">Italic</button>
									{# <button type="button" class="icon strike" data-trix-attribute="strike" title="Doorstrepen">Strikethrough</button> #}
									<button type="button" class="icon link" data-trix-attribute="href" data-trix-action="link" data-trix-key="k" title="Link">Link</button>
								</span>

								<span class="button_group text_tools">
									{# <button type="button" class="icon quote" data-trix-attribute="quote" title="Quote">Quote</button>
									<button type="button" class="icon code" data-trix-attribute="code" title="Code">Code</button> #}
									<button type="button" class="icon list bullets" data-trix-attribute="bullet" title="Opsomming">Bullets</button>
									<button type="button" class="icon list numbers" data-trix-attribute="number" title="Genummerde lijst">Numbers</button>
									<button type="button" class="icon nesting-level decrease" data-trix-action="decreaseNestingLevel" title="Inspringen vergroten" disabled="">Decrease Level</button>
									<button type="button" class="icon nesting-level increase" data-trix-action="increaseNestingLevel" title="Inspringen verkleinen" disabled="">Increase Level</button>
								</span>

								{# <span class="button_group history_tools">
								<button type="button" class="icon undo" data-trix-action="undo" data-trix-key="z" title="Undo" disabled="">Undo</button>
								<button type="button" class="icon redo" data-trix-action="redo" data-trix-key="shift+z" title="Redo" disabled="">Redo</button>
								</span> #}
							</div>

							<div class="dialogs">
								<div class="dialog link_dialog" data-trix-attribute="href" data-trix-dialog="href">
									<div class="link_url_fields">
										<input type="url" required="" name="href" placeholder="Enter a URL…">
										<div class="button_group">
											<input type="button" value="Link" data-trix-method="setAttribute">
											<input type="button" value="Unlink" data-trix-method="removeAttribute">
										</div>
									</div>
								</div>
							</div>
						</trix-toolbar>
						<trix-editor id="js-editor" class="userContentEditor" input="js-description" toolbar="trixToolbar"></trix-editor><br>
					{% else %}
						<textarea name="description">{{idea.description}}</textarea>
					{% endif %}
					<div id="charsLeftMain">Nog minimaal <span>140</span> tekens.</div><br/><br/>
					
					
					{% if idea.id %}
						<input type="hidden" name="id" value="{{idea.id}}">
						<input type="hidden" name="_method" value="PUT">
					{% endif %}
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
				</div>
				
				<div id="location">
					<h2>Locatie</h2>
					<div class="form-info" style="height: auto;">Heeft jouw plan betrekking op een specifieke locatie? Klik dan op de juiste locatie in de kaart om een vlaggetje te plaatsen. Klik nogmaals op het vlaggetje om hem weer te verwijderen.</div>
					<input type="hidden" id="locationField" name="location" value='{{idea.location | dump | safe}}'>
					<div id="mapcontainer">
						{{openStadMap.map(googleKey = config.openStadMap.googleKey, editorInputElementId = 'locationField')}}
					</div>
				</div>
				
				{% if idea.posterImage %}
					<input type="hidden" name="images[]" value="{{idea.posterImage.key}}">
				{% endif %}
				
				<input type="submit" value="Plan opslaan">
			</form>
		</div>

		<div class="secondary">
			<div class="pageContent">
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block howDoesItWork %}
	{% if not user.isLoggedIn() %}
		{{howdoesitwork.howblock('open')}}
		<a href="/account/register?ref=/idea/nieuw" class="meldjeaanknop" style="margin-top: 100px; margin-bottom: 60px;">Meld je aan om een plan in te sturen</a>
	{% endif %}
{% endblock %}

{% block scripts %}
	{% if showForm %}
		<script src="/lib/dropzone/dist/dropzone.js"></script>
		<script src="/lib/trix/dist/trix.js"></script>
		<script src="/js/editor.js"></script>
		
		<script>
		 // Idea form extensions
		 // --------------------
						// Used by poster file upload and description editor to register
		 // a reference to each uploaded file. This reference list is used
		 // by the server to connect the correct image uploads to this idea.
			 var form = document.getElementById('js-form');
		 form.addAttachmentRef = function( key ) {
			 var input   = document.createElement('input');
			 input.type  = 'hidden';
			 input.name  = 'images[]';
			 input.value = key;
			 this.appendChild(input);
		 };
		 form.clearAttachmentRef = function() {
			 var images = Array.prototype.slice.call(
				 form.querySelectorAll('input[name="images[]"]'), 0
			 );
			 images.forEach(function( image ) {
				 this.removeChild(image);
			 }, this);
		 };
		 window.addEventListener('load', function( event ) {
			 var extraData = '{{idea.extraData}}';
			 if (extraData.replace)
				 extraData = extraData.replace(/&quot;/g, '"');
			 try {
				 extraData = JSON.parse(extraData)
			 } catch(error) {}
			 if ( extraData && extraData.gebied ) {
				 document.getElementById('gebied').value = extraData.gebied;
			 }
			 
		 });
		 form.addEventListener('submit', function( event ) {

			 var uploadForm = document.getElementById('posterImageUpload');
			 if( !uploadForm ) return;
			 
			 if( uploadForm.classList.contains('uploading') ) {
				 event.stopPropagation();
				 event.preventDefault();
				 alert(
					 'De afbeelding upload is nog niet afgerond.\n\n'+
					 'Hierdoor kan uw idee nog niet opgeslagen worden.'
				 );
			 }

			 // extra data
			 var extraData = {
				 gebied: document.getElementById('gebied').value,
			 }
			 document.getElementById('extraData').value = JSON.stringify(extraData);

		 });
		</script>	
		<script>
		 var currentImage;
		 var form        = document.getElementById('js-form');
		 var el          = document.getElementById('posterImageUpload');
		 var button      = el.querySelector('button');
		 var progressBar = el.querySelector('#posterImageUpload .progress .bar');
		 
		 button.addEventListener('click', function() {
			 upload.removeFile(currentImage || {});
		 });
		 
		 var upload = new Dropzone(el, {
			 maxFiles             : 1,
			 uploadMultiple       : false,
			 
			 maxFilesize          : 10,
			 maxThumbnailFilesize : 10,
			 thumbnailWidth       : 1800,
			 thumbnailHeight      : null,
			 
			 addedfile: function( file ) {
				 this.removeFile(currentImage || {});
				 currentImage = file;
				 
				 el.classList.add('uploading');
				 progressBar.style.width = 0;
				 
				 file.key = Date.now()+'-'+file.name;
				 this.options.params['key'] = file.key;
			 },
			 removedfile: function( file ) {
				 el.removeAttribute('style');
				 el.classList.remove('uploading');
				 form.clearAttachmentRef();
			 },
			 
			 thumbnail: function( file, dataURL ) {
				 el.setAttribute('style', 'background-image: url('+dataURL+')');
			 },
			 sending: function() {
				 button.innerHTML = 'Annuleer upload';
			 },
			 uploadprogress: function( file, progress, bytesSent ) {
				 progressBar.style.width = progress+'%';
			 },
			 
			 success: function( file ) {
				 el.classList.remove('uploading');
				 form.addAttachmentRef(file.key);
				 button.innerHTML = 'Verwijder afbeelding';
			 },
			 error: function( file, error ) {
				 button.innerHTML = 'Verwijder afbeelding';
				 this.removeFile(file);
				 if( typeof error != 'string' ) {
					 alert(error.message);
				 }
			 }
		 });
		</script>
		<script>
		 // Summary
		 // -------
						var maxLen    = {{summaryMaxLength}};
		 var textarea  = document.querySelector('textarea[name="summary"]');
		 var charsLeft = document.querySelector('#charsLeft span');
		 
		 updateCharsLeft();
		 textarea.addEventListener('keydown', function( event ) {
			 var len = textarea.value.length;
			 var key = event.key.toLowerCase();
			 
			 // Prevent input when maximum is reached.
				 if( len == maxLen ) {
					 switch( key ) {
						 case 'delete': case 'backspace':
						 case 'arrowdown': case 'arrowup':
						 case 'arrowleft': case 'arrowright':
							 return;
						 default:
							 event.preventDefault();
					 }
				 }
		 });
		 textarea.addEventListener('keyup', updateCharsLeft);
		 
		 function updateCharsLeft() {
			 charsLeft.innerHTML = maxLen - textarea.value.length;
			 if (maxLen >= textarea.value.length) {
				 charsLeft.style.color = '#9A9A9A';
			 } else {
				 charsLeft.style.color = 'red';
			 }
		 }
		</script>
		
		<script>

		 
		 // Main editor
		 // -----------
						var minLen = 140;
		 var charsLeftMain = document.querySelector('#charsLeftMain span');

		 setTimeout(() => {

			 {% if useModernEditor %}
			 initAttachmentManager(
				 document.getElementById('js-form'),
				 document.getElementById('js-editor').editor
			 );
			 var mainEditor  = document.getElementById('js-editor');
			 document.querySelector('#charsLeftMain').style.marginTop = '-20px';
			 {% else %}
			 var mainEditor  = document.querySelector('textarea[name="description"]');
			 {% endif %}
			 mainEditor.addEventListener('keyup', updateCharsLeftMain);

			 function updateCharsLeftMain() {
				 {% if useModernEditor %}
				 let length = minLen - mainEditor.innerHTML.length
				 {% else %}
				 let length = minLen - mainEditor.value.length
				 {% endif %}
				 if (length <= 0) {
					 document.querySelector('#charsLeftMain').style.display = 'none';
				 } else {
					 document.querySelector('#charsLeftMain').style.display = 'block';
					 document.querySelector('#charsLeftMain span').innerHTML = length;
				 }
			 }
			 
			 updateCharsLeftMain();

		 } , 1000);

		</script>


	{% endif %}
{% endblock %}


